<nav>

  <div id="navegacion-cont">
      <ul>
          <li>
              <a href="#sobre-mi">Sobre mi</a>
          </li>
          <li>
              <a href="#proyectos">Proyectos</a>
          </li>
          <li>
              <a href="#lenguajes">Lenguajes</a>
          </li>
          <li>
              <a target="_blank" href="cv/CVImanolProgramador.pdf">Ver CV</a>
          </li>
      </ul>
  </div>

</nav>

<header>

        <div id="info-principal">

          <div class="titulos">
            <h1 id="titulo">Imanol Sayago</h1>
            <p>Programador Full-Stack</p>
            <a href="#sobre-mi">
              <img class="flecha" src="img/flecha.png" alt="">
            </a>
            
          </div>
        </div>
</header>

<main id="sobre-mi">

        <div>
            <img id="imgperfil" src="img/perfil.jpg" alt="fotoPerfil">
        </div>

        <div id="info-personal">
          <h2 class="titulo-sobremi">Sobre mi</h2>
          <p class="info">¡Hola! Soy Imanol, un joven programador de 21 años con una 
            gran pasión por la tecnología. Desde hace dos años, me dedico a crear 
            soluciones web innovadoras y funcionales. Me encanta aprender y enfrentar 
            nuevos desafíos en el mundo del desarrollo. <br> Cuando no estoy programando, 
            me encontrarás practicando deportes o explorando las últimas novedades 
            tecnológicas.</p>
        </div>

</main>

<section id="proyectos-cont">

 
    <h2 id="proyectos-titulo">Proyectos</h2>

  <div id="proyectos">

    <div class="carta-proyecto">

      <img class="img-carta" src="img/BonAPPetit2.jpg" alt="no se pudo cargar">
  
      <div class="texto-carta">
        <h2>Bon APPetit</h2>
      
        <p>Aplicación web desarrollada en Angular que permite a los usuarios buscar 
          recetas utilizando los ingredientes disponibles en su hogar. 
          La aplicación consume una API externa para obtener recetas relevantes 
          y mostrar información detallada sobre cada plato.</p>
      </div>

      <div>
        <a href="https://github.com/LucasMartinCosta/CRUD-Recetas" target="_blank" class="btn-carta" >Ver codigo</a>
      </div>

      </div>

  
    <div class="carta-proyecto">

      <img class="img-carta" src="img/crDistribuidora.jpg" alt="no se pudo cargar">

      <div class="texto-carta">
        <h2>DistribuidoraCR</h2>
        
        <p>Aplicación web desarollada para un cliente, maneja la gestión de una distribuidora, 
          utilizando Angular en el frontend, Spring Boot en el backend y MySQL 
          como base de datos. La aplicación permite administrar clientes, pedidos y productos
           de manera eficiente, optimizando el flujo de trabajo y mejorando la productividad.</p>
      </div>

      <div>
        <a href="https://github.com/ImanolSayago/DistribuidraCR" target="_blank" class="btn-carta" >Ver codigo</a>
      </div>
     
    </div>
  
    <div class="carta-proyecto">
      <img class="img-carta" src="img/aerolineas.jpg" alt="no se pudo cargar">
      <div class="texto-carta">
        <h2>Aerolinea UTN</h2>
        <p>Aplicacion desarrollada en Java como proyecto final en Laboratorio 3, esta ofrece una experiencia completa para la gestión de viajes aéreos. 
          Los usuarios pueden explorar y adquirir boletos, así como realizar modificaciones en sus reservas. 
          El panel de administración facilita la creación de nuevos vuelos y la administración de la flota de aeronaves.
      </div>

      <div>
        <a href="https://github.com/LucasMartinCosta/Aerolinea" target="_blank" class="btn-carta">Ver codigo</a>
      </div>
      
    </div>
  
    <div class="carta-proyecto">
      <img class="img-carta" src="img/portfolio.jpg" alt="no se pudo cargar">
  
      <div class="texto-carta">
        <h2>Portfolio Diseñador</h2>
        <p>Portfolio para diseñador grafico, donde puede subir todos sus proyectos con imagenes y descripciones,
          tiene su front en Angular, backend en Spring boot y base de datos MySql. 
          Los usuarios solo podran ver sus proyectos, pero no entrar como administrador<br>
          (En proceso)
        </p>
      </div>
      <div>
        <a href="https://github.com/ImanolSayago/PortfolioCliente" target="_blank" class="btn-carta" >Ver codigo</a>
      </div>
    </div>

    
  </div>
  
    
</section>

<section id="lenguajes">

 <div class="cont-mas">
  <h2>Lenguajes</h2>

  <div class="cont-general">
    <h3>Front-End</h3>

    <div class="carta-lenguaje">

      <div class="cont-logo">
        <h4>HTML</h4>
        <img class="logo-lenguaje" src="img/html.png" alt="">
      </div>
  
  
      <div class="cont-logo">
        <h4>CSS</h4>
        <img class="logo-lenguaje" src="img/css.png" alt="">
      </div>
  
  
      <div class="cont-logo">
        <h4>JavaScript</h4>
        <img class="logo-lenguaje" src="img/js.png" alt="">
      </div>
  
      <div class="cont-logo">
        <h4>Angular</h4>
        <img id="achicar2" class="logo-lenguaje" src="img/angular_gradient.png" alt="">
      </div>
  
    </div>

 </div>
 
<div class="cont-general">
  <h3>Back-End</h3>
  <div class="carta-lenguaje">

    <div class="cont-logo">
      <h4>C</h4>
      <img class="logo-lenguaje" src="img/c.png" alt="">
    </div>


    <div class="cont-logo">
      <h4>Java</h4>
      <img class="logo-lenguaje" src="img/java.png" alt="">
    </div>


    <div class="cont-logo">
      <h4>Spring Boot</h4>
      <img id="achicar" class="logo-lenguaje" src="img/spring-boot-logo.png" alt="">
    </div>


    <div class="cont-logo">
      <h4>MySql</h4>
      <img class="logo-lenguaje" src="img/mysql.png" alt="">
    </div>
 
  
    
  </div>
</div>
 </div>

 
  
</section>

<footer>

  <div id="link-contacto">

    <h4>Contacto</h4>
    <ul>
     

      <li>

        <div>
          <img class="logo-footer" src="img/social.png" alt="">
          <a target="_blank" href="https://www.linkedin.com/in/imanol-sayago-37ab5027a/">Linkedin</a>
        </div>
        
      </li>

      <li>
        <div>
          <img class="logo-footer" src="img/correo-electronico.png" alt="">
          <a href="mailto:imanolsayago0@gmail.com">Correo electronico</a>
        </div>
      </li>

      <li>
        <div>
          <img class="logo-footer" src="img/instagram.png" alt="">
          <a target="_blank" href="https://www.instagram.com/imasayago/">Instagram</a>
        </div>
        
      </li>
    </ul>

  </div>

  <div id="contacto-directo">

    <p>¿Listo para dar el siguiente paso con tu proyecto web? 
      ¡Escríbeme y hablemos sobre cómo puedo ayudarte!</p>

  </div>

</footer>